[Unit]
Description=Agent Sphere local Ultra infrastructure
Wants=redixs.service comm.service
After=agentsphere.target

[Install]
WantedBy=multi-user.target
